mat-card {
    width: 400px;
    height: 600px;
    margin: 20px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}
mat-card:hover {
    transform: translateY(-5px);
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrapper {
    box-sizing: border-box;
    margin-bottom: 16px;
}

mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

img {
    width: 350px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 16px;
}

mat-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.selected {
  color: gold;
}

mat-card-title{
  font-size: 1.2rem;
  font-weight: bold;
}
mat-card-subtitle{
    font-size: 1em;

}
button{
    color: white;
    background-color: black;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    
}
.stars {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  mat-icon stars {
    font-size: 2em;
    cursor: pointer;
    color: #ccc;
  }
  
  mat-icon.selected {
    color: gold;
  }
  #edit{
    float: inline-start;
  }
  #delete{
    float: inline-end;
  }